.stories-wrapper {
    padding: 100px 0 76px 0;
    .custom-style-0 {
        margin: auto;
        padding: 30px;
        background-color: #f6f6f6;
        width: 100%;
        border-radius: 8px;
        div {
            text-align: center;
            font-size: 18px;
        }
    }
    .stories-desc {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.25px;
        text-align: center;
        color: #141415;
        margin: 0 auto;
        width: 50%;
    }

    .stories-flex {
        .stories-flex-item {
            &:hover {
                .stories-flex-item-background {
                    .layer-stories {
                        background-color: #ffffff67;
                        transition: 0.3s;
                    }
                    .visibility-custom {
                        display: block;
                        transition: 0.3s;
                    }
                }
            }
            .stories-flex-item-background {
                background-position: center;
                background-size: cover;
                height: 160px;
                padding: 15px;
                border-radius: 5px;
                position: relative;
                // cursor: pointer;
                .visibility-custom {
                    display: none;
                }
                .layer-stories {
                    background-color: #00000030;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
                .stories-text-fix-bottom {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
                h6 {
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 17px;
                }
                .stories-sub-title {
                    font-size: 13px;
                    color: #ffffff;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 478px) {
    .stories-desc {
        width: 100% !important;
    }
}