// VIDOPS colors

// primary colors
$color-primary: #F46036;
$color-primary-75: rgba($color-primary, 0.75);
$color-primary-50: rgba($color-primary, 0.50);
$color-primary-25: rgba($color-primary, 0.25);

$color-secondary: #2D284E;
$color-secondary-75: rgba($color-secondary, 0.75);
$color-secondary-50: rgba($color-secondary, 0.50);
$color-secondary-25: rgba($color-secondary, 0.25);

// secondary colors
$color-warning: #FE9939;
$color-warning-75: rgba($color-warning, 0.75);
$color-warning-50: rgba($color-warning, 0.50);
$color-warning-25: rgba($color-warning, 0.25);

$color-error: #FE9939;
$color-error-75: rgba($color-error, 0.75);
$color-error-50: rgba($color-error, 0.50);
$color-error-25: rgba($color-error, 0.25);

$color-success: #1B998B;
$color-success-75: rgba($color-success, 0.75);
$color-success-50: rgba($color-success, 0.50);
$color-success-25: rgba($color-success, 0.25);

// neutrals colors
$color-black: #141415;
$color-black-75: rgba($color-black, 0.75);
$color-black-50: rgba($color-black, 0.50);
$color-black-25: rgba($color-black, 0.25);

$color-grey: #A6A6AA;
$color-grey-75: rgba($color-grey, 0.75);
$color-grey-50: rgba($color-grey, 0.50);
$color-grey-25: rgba($color-grey, 0.25);

$color-white: #FFFFFF;
$color-white-75: rgba($color-white, 0.75);
$color-white-50: rgba($color-white, 0.50);
$color-white-25: rgba($color-white, 0.25);
